.section2-main-right{
    padding: 0px 15px 0px 10px;
}
.top-bar{
    display: flex;
    justify-content: space-between;
}
.menu-bar-left a {
    text-decoration: none;
}
.menu-bar-left svg{
        border: 1px solid var(--white-100);
        padding: 8px;
        border-radius: 3px;
        margin-right: 5px;
        height: 16px;
}
.black {
    background-color: var(--black);
}
.menu-bar-lefts:hover svg{
    background-color: var(--black);
    
}
.menu-bar-lefts:hover path{
    fill: white;
}
.menu-bar-right{
    /* width: 30%; */
    margin-right: 106px;
}
.top-bar-choose a {
    text-decoration: none;
    padding-right: 10px;
    color: var(--black-200);
    
}
.top-bar-choose{
    border-radius: 5px;
    border: 1px solid var(--white-100);
    padding: 7px 20px;
    font-size: 15px;
    text-align: center;
    min-width: 160px;
    line-height: 20px;
}
.section2-list-products{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}
.items-products-detail{
    width: 100%;
    display: flex;
}

.products-img{
    position: relative;
    width: 240px;
    height: 312px;
}
.products-imgs img{
    width: 100%;
   height: auto;
}
.list-sizes{
    position: absolute;
    z-index: -1;
    bottom: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 16%;
    background-color: var(--white);
  
}
.list-sizes a{
    text-decoration: none;
    padding: 4px 8px;
    border: 1px solid var(--black-100);
    border-radius: 8px;
    margin-right: 10px;
    background-color: var(--white-100);
    color: var(--black);
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 600;
}
@keyframes top{
   0%{
    transform: translateY(50%);
   }
   100%{
    transform: translateY(0%);
   }
}

.products-img:hover .block{
    opacity: 0;
}
.products-img:hover .list-sizes {
    z-index: 1;
 animation: top 0.4s ease-in-out;
  
}
.block{
    background-color: var(--black-100);
    height: -webkit-fill-available;
    width: 100%;
}
.list-sizes a:hover {
    border: 1px solid var(--black);
}
.items-products-detail:hover .products-img{

    background-image: url(https://gougi-demo.myshopify.com/cdn/shop/products/17097755_37_D8_540x.png?v=1640740769);
    background-repeat: no-repeat;
    background-size: cover;
}
.sale-text{
    position: absolute;
    padding: 3px 10px;
    background-color: var(--red);
    top: 12px;
    left: 12px;
    color: var(--white);
    font-size: 12px;
}
.list-btns{
    position: absolute;
    z-index: -1;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    
}
.list-btns button{
    width: 140px;
    height: 39px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--white);
    border: none;
    box-shadow: 0px 10px 25px rgba(71, 92, 133, 0.1);
    transition: all 240ms linear 0ms;
}
.list-btns button:hover{
    cursor: pointer;
    background-color: var(--black);
    color: var(--white);
}
.products-img:hover .list-btns {
    z-index: 0;
    animation: left .5s ease-in-out;
     
   }
@keyframes left{
    0%{
       left: 0%;
    }
   
 }

 .list-icons {
    position: absolute;
    z-index: -1;
    display: flex;
    flex-direction: column;
    top: 4%;
    right: 10%;
   
 }
 .icon-heart svg{
    padding-left: 7px;
    padding-top: 6px;
    
 }
 .chuyendoi{
    padding-left: 9px !important;
    padding-top: 9px !important;
 }
 
 .heartbeat {
    animation: heartBeat 1.3s infinite running;
    fill: white;
    stroke: #0c8c6c !important;
 }
 .heartbeat:hover{
    fill: white !important;
    stroke: #0c8c6c !important;
 }
 
@keyframes heartBeat{
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    14% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    28% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    42% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.icon-heart{
    position: relative;
    width: 35px;
    height: 35px;
    background-color: var(--white);
    border-radius: 50%;
    margin-bottom: 6px;
}
.icon-heart:hover {
    background-color:#0c8c6c;
}
.icon-heart:hover svg{
    stroke: white !important;
}
.before-icon-heart{
    position: absolute;
    color: var(--white);
    background-color: var(--black-300);
    border-radius: 5px;
    font-size: 14px;
    right: 52px;
    padding: 15px 30px;
    display: none;
    top: 5px;
    transition: all 0.2s ease-in-out 0s;
  }
  .text-box-heart {
    position: absolute;
    right: 9px;
    top: 6px;
  }
  .span-heart{
    position: absolute;
    background-color: var(--black-300);
    width: 9px;
    height: 9px;
    bottom: 10px;
    right: -4px;
      transform: rotate(45deg);
      z-index: 1;
  }
.icon-heart:hover .before-icon-heart{
    display: block;
}

.products-img:hover .list-icons {
    z-index: 1;
    animation: right 0.4s ease-in-out;
     
   }
@keyframes right{
    0%{
     transform: translateX(100%);
    }
    100%{
     transform: translateX(0%);
    }
 }

.text-product-details{
    padding-top: 35px;
}
.lists-product-detail-1{
    display: flex;
  justify-content: space-between;
    width: 100%;
    padding-bottom: 50px;
}

.section2-list-products{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.text-product-details{
    padding-left: 50px;
}
.text-product-details a{
    font-size: 30px;
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
}
.text-product-details a:hover{
    color: #0c8c6c;
}
.price-product{
    display: flex;
    padding-top: 20px;
}
.price-product p{
    padding-right: 10px;
    font-size: 20px;
}
.price-product p:nth-child(1){
    color: var(--red);
}
.price-product p:nth-child(2){
    text-decoration: line-through;
    color: var(--black-100);
    font-size: 16px;
}
.text-lorem{
    padding-top: 20px;
    font-size: 16px;
   width: 750px;
   line-height: 1.5;
   color: var(--black-200);
}
.list-items-color{
    border-radius: 8px;
    background-color: white;
    padding: 8px ;
    width: 7px;
    height: 7px;
    border: 1px solid var(--black);
      display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 10px;
}
.color-list-lorem{
    display: flex;
    padding-top: 30px;
}
.color-items-gray{
    border-radius: 8px;
    background-color: gray;
    padding: 4px 9px 10px 10px;
    width: 5px;
    height: 5px;
    border: none;
  
}
.white-color{
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--white-100);
    padding: 8px ;
    width: 7px;
    height: 7px;
   position: relative;
    
}
.before-colors{
    position: absolute;
    color: var(--white);
    background-color: var(--black-300);
    border-radius: 5px;
    font-size: 14px;
    bottom: 34px;
    width: 45px;
    height: 30px;
    display: none;
  }
  .text-color-items{
   position: absolute;
   right: 5px;
    top: 7px;
  }
  .span-color{
    position: absolute;
    background-color: var(--black-300);
    width: 8px;
    height: 9px;
    bottom: -4px;
    left: 21px;
    transform: rotate(45deg);
    z-index: -1;
  }


  .list-items-color:hover .before-colors{
        display: block;
  }
  .list-items-colors:hover .before-color{
    display: block;
}
.before-color{
    position: absolute;
    color: var(--white);
    background-color: var(--black-300);
    border-radius: 5px;
    font-size: 16px;
    bottom: 40px;
    width: 65px;
    height: 40px;
    left: -18px;
    display: none;
  }
.list-button-products-detail{
    padding-top: 20px;
    display: flex;
}
.list-button-products-detail button{
    margin-right: 10px;
}
.thu{
    padding: 0px 35px;
    border-radius: 5px;
    border: none;
    background-color: var(--black);
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    line-height: 41px;
    transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
}


.thuthu:hover .thu{
    background-color: #0c8c6c;
    cursor: pointer;
}

#gio-hang-to-cart{
    position: fixed;
    background-color: #0c8c6c;
    width: 27%;
    height: 100vh;
    right: 0;
    top: 0;
    z-index: 1000000;
    display: none;
}

.list-button-products-detail button:nth-child(2){
        padding: 15px 15px;
        border-radius: 5px;
        border: 1px solid var(--black-100);
        background-color: var(--white);
} 
.trai-tyms-tyms{
        padding: 9px 15px;
        border: 1px solid var(--white-100);
        border-radius: 5px;
        background-color: var(--white);
}

.heart-wh{
    padding: 8px 8px;
}
.trai-tyms-tyms svg{
    stroke: #0c8c6c;

}
.trai-tym:hover .trai-tyms-tyms{
        background-color: #0c8c6c;
        cursor: pointer;
}
.trai-tyms-tyms:hover svg{
    stroke: var(--white);
}
#menu-toggle{
    display: none;
}
.top-bar-choose label:hover{
    cursor: pointer;
}
.ten-sanpham{
    margin-top: 15px;
    display: none;
    position: absolute;
    z-index: 1;
    right: 118px;
    background-color: white;
    color: var(--black-100);
   min-width: 202px;
   font-size: 14px;
    box-shadow: 0px 10px 25px rgba(71, 92, 133, 0.1);
}


.ten-sanpham li{
    list-style: none;
   padding: 10px 0px 0px 24px;
    text-align: left;
}
#menu-toggle:checked ~ .ten-sanpham {
    display: block;
  }
.down svg {
    padding-left: 10px;
}
.ten-sanpham ul{
    padding: 10px 0px;

}
.box-cart{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    width: 400px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
  display: none;
  overflow-y: scroll;
}
#cart{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.item-product-detail{
    padding: 20px;
}
.img-product-cart{
    width: 60%;
}
.img-product-cart img{
    width: 100%;
}
.item-product-detail h1{
    font-size: 18px;
}
.text-item-cart{
    display: flex;
    flex-direction: column;
}
.close-svg{
    display: flex;
    flex-direction: row-reverse;
}
.tang-giam svg{
    padding: 10px;
}
.tang-giam button{
        width: 20px;
        height: 20px;
}
.count{
    color:red;
}
.messgare{
    color: #0c8c6c;
}
.chung{
    display: flex;
    justify-content: space-between;
}
.xoa_product p{
    cursor: pointer;
    border-bottom: 1px solid var(--black);
}