:root{
    --black: #121212;
    --black-100 : #A0A0A0;
    --black-200: #616161;
    --black-300: #404040;
    --white: white;
    --white-100: #E5E5E5;
    --green: #0c8c6c;
    --red: #db4444;
    --font12: 12px;
    --font14: 14px;
    --font16: 16px;
    --font18: 18px;
    --font20: 20px;
    --font30: 30px;
    --font45: 45px;
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
   --font-family: 'Urbanist', sans-serif;

}
