* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1320px;
  padding: 0px 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.bt{
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    font-size: var(--font17);
   
  }
  .btn-hover:hover{
    background-color: var(--black);
    cursor: pointer;
  }
.color-btn-blue{
    background-color: var(--blue);
    color: var(--white);
}
.color-btn-pink{
    background-color: var(--pink);
    color: var(--white);
}
.background-section{
    background-color: var(--white-500);
}
.background-white{
    background-color: var(--white);
}
.background-white1{
  background: url(https://documentation.zemez.io/shopify/vendy_pro/landing/vendy-pro-shopify/images/lending/dev/img_03.png);
  background-repeat: no-repeat;
    background-size: cover;
}
.background-url{
    background: url(https://documentation.zemez.io/shopify/vendy_pro/landing/vendy-pro-shopify/images/lending/dev/img_09.png);
    background-size: cover;
    background-repeat: no-repeat;
}
  .wi{
    width: 250px; 
    padding: 0px 15px
  }
